In [22]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/usable_feature.csv')
df.keys()

Index(['appid', 'name', 'positive', 'negative', 'price', 'initialprice',
       'genre', 'tags'],
      dtype='object')

In [11]:
d = {'positive': df['positive'], 'negative': df['negative']}
review = pd.DataFrame(d)

### สูตรคำนวน Rating

In [43]:
total_review = review['positive'] + review['negative']
review_score = review['positive'] / total_review
rating = review_score - ((review_score - 0.5) * 2**(-np.log10(total_review+1)))

### มี NaN data แทนค่าด้วย 0.5

In [44]:
rating[rating.isnull()]

809     NaN
810     NaN
2647    NaN
3578    NaN
5512    NaN
         ..
51943   NaN
51944   NaN
51945   NaN
51946   NaN
51947   NaN
Length: 366, dtype: float64

In [46]:
rating = rating.fillna(0.5)

In [47]:
rating[rating.isnull()]

Series([], dtype: float64)

### เพิ่ม rating ลงใน data frame

In [48]:
df.head(2)

,appid,name,positive,negative,price,initialprice,genre,tags
0,570,Dota 2,1520820,313832,0.0,0.0,"['Action', 'Free to Play', 'Strategy']","['Free to Play', 'MOBA', 'Multiplayer', 'Strat..."
1,730,Counter-Strike: Global Offensive,5921392,784703,0.0,0.0,"['Action', 'Free to Play']","['FPS', 'Shooter', 'Multiplayer', 'Competitive..."

In [49]:
df.insert(4, column= 'rating', value= rating)

In [50]:
df.head(2)

,appid,name,positive,negative,rating,price,initialprice,genre,tags
0,570,Dota 2,1520820,313832,0.824660,0.0,0.0,"['Action', 'Free to Play', 'Strategy']","['Free to Play', 'MOBA', 'Multiplayer', 'Strat..."
1,730,Counter-Strike: Global Offensive,5921392,784703,0.879612,0.0,0.0,"['Action', 'Free to Play']","['FPS', 'Shooter', 'Multiplayer', 'Competitive..."

In [51]:
df.to_csv('data/rating_feature.csv', index= False)